# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*                   @MrMissx @adekmaulana
/Melissa/util/db/    @famhawiteinfosysreal
/Melissa/util/db/    @famhawiteinfosysreal
